$beigey: rgba(243, 236, 226, 0.8);
$pinky: rgba(255, 218, 185, 0.8);
$pinkier: rgba(255, 204, 153, 0.8);


%soft-warm-background-rgba {
	background: -webkit-linear-gradient($beigey, $pinky, $pinkier); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($beigey, $pinky, $pinkier); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($beigey, $pinky, $pinkier); /* For Firefox 3.6 to 15 */
	background: linear-gradient($beigey, $pinky, $pinkier); /* Standard syntax */
}

%soft-warm-background {
	background: -webkit-linear-gradient(#f3ece2, #FFDAB9, #FFCC99); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#f3ece2, #FFDAB9, #FFCC99); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#f3ece2, #FFDAB9, #FFCC99); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#f3ece2, #FFDAB9, #FFCC99); /* Standard syntax */
}





%purple-gradient {
	background-image: -ms-linear-gradient(bottom, #FFEBEB 0%, #A69EEF 100%);
	background-image: -moz-linear-gradient(bottom, #FFEBEB 0%, #A69EEF 100%);
	background-image: -o-linear-gradient(bottom, #FFEBEB 0%, #A69EEF 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFEBEB), color-stop(1, #A69EEF));
	background-image: -webkit-linear-gradient(bottom, #FFEBEB 0%, #A69EEF 100%);
	background-image: linear-gradient(to top, #FFEBEB 0%, #A69EEF 100%);
}

