//Header >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
nav.navbar.navbar-default {

	max-height: 70px;
	width: 100%;
	border: none;

	.navbar-header {
		h1.name-brand.navbar-brand {
			margin: 0;
			a {
				font-family: 'Poiret One', sans-serif;
				font-size: 30px;
				color: #000;
				margin-top: 0;
			}
		}
	}

	ul.nav.navbar-nav.navbar-right {
		li {
			h3 a {
				font-family: 'Poiret One', sans-serif;
				color: #000;
				padding: 10px;
				border-radius: 5px;
				text-transform: uppercase;
				font-size: 15px;

				&:hover {
					background-color: gray;
				}
			}
		}
	}
}


