//Header >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
header.hidden-xs {
	text-align: center;
	padding: 20px;
	background-color: black;
	nav.navbar.navbar-default.navbar-fixed-top {
		padding-top: 15px;
		a {
			@extend %cookie-font;
			padding: 30px;
			color: black;
			&:hover{
				text-decoration: none;
				color: purple;
			}
		}
	}
}

//Mobile Header >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
header.visible-xs {
	background-color: white;
	margin-bottom: 50px;
}
button.btn.dropdown-toggle, {
	text-align: center;
	color: #DB70DB;
	@extend %cookie-font;
	background-color: white;
}

ul.dropdown-menu {
	li.mini-header-links {
		font-family: 'Palantino', sans-serif;
		a{
			@extend #warm-link-font;
			background-color: white;
			&:hover {
				background-color: white;
				color: black;
			}
		}
	}
}


