//HOME PAGE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.img_border {
	border: 5px solid gray;
}
.home {
	margin-top: 5%;
	#intro {
		img.headshot {
			max-height: 400px;
			margin-left: 25%;
		}
		h1.welcome {
			animation-delay: 1s;
			font-family: 'Poiret One', sans-serif;
			color: #000;
			font-size: 100px;
		}
		p.intro_p {
			font-family: 'Poiret One', sans-serif;
			font-size: 20px;
		}
		p.intro_1 {
			animation-delay: 1.2s;
		}
		p.intro_2 {
			animation-delay: 1.4s;
		}
		p.intro_3 {
			animation-delay: 1.6s;
		}
	}
	ul#home_resume_list {
		margin-top: 10em;
		li {
			margin-top: 5em;
			h2.link_header a {
				font-family: 'Poiret One', sans-serif;
				font-size: 50px;
				color: #000;
			}
			img {
				max-height: 200px;
			}

			#about_me_link_row {
				margin-top: 15em;

				img.about_image_1 {
					margin-top: 30px;
				}
				img.about_image_2 {
					animation-delay: 0.5s;
					margin-bottom: 40px;
				}
				img.about_image_3 {
					margin-right: 70px;
					margin-top: 60px;
					animation-delay: 0.8s;
				}
				img.about_image_4 {
					animation-delay: 1s;
				}
			}

			#yoga_link_row {
				h2 {
					margin-top: 40px;
				}
				p.yoga_description {
					margin-top: 70px;
					font-size: 15px;
					font-family: 'Berkshire Swash', serif;
					animation-delay: 0.5s;
					font-weight: normal;
				}
				img.yoga_image {
					border: 5px solid gray;
					margin: 50px;
				}
				img.yoga_image_1 {
					animation-delay: 1s;
					margin-left: 0;
					margin-top: -10px;
				}
				img.yoga_image_2 {
					animation-delay: 1.3s;
					margin-left: 75px;
					margin-top: 10px;
				}
				img.yoga_image_3 {
					animation-delay: 1.6s;
					margin-left: 0;
					margin-top: 100px;
				}
			}

			#programming_link_row {
				img.pg_image {
					border: 5px solid gray;
				}
				img.pg_image_1 {
					margin-left: 30px;
					margin-top: 90px;
				}
				img.pg_image_2 {
					margin-left: 0;
					margin-bottom: 70px;
				}
				img.pg_image_3 {
					margin-right: 100px;
				}

			}
		}
	}
}
