//HOME PAGE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
div#intro{
	background: image-url("images/home/purple-tree2.jpg") 50% 0 no-repeat fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	display: block;
	@media(max-width: 498px) {
		height: 400px;
	}
}

div.story {
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 1200px;
	display: block;
}

div.float-left{
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;
	float: left;
	margin: 0 0 0 20px;
	display: block;
}

div.introduction {
	background-color: lighten(black, 10%);
	padding: 25px 0;
}

h2.name-tag {
	background-color: none;
	background-image: -webkit-gradient(linear,
	left top, left bottom,
	from(#4b0082),
	to(#DB70DB)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-style: italic;
	font-weight: bold;
	text-align: right;
	margin-top: 0px;
	padding-left: 0px;
	padding-top: 0px;
  	font: 400 80px/1.3 'Arizonia', Helvetica, sans-serif;
  	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);		
}

p.homepage-description {
  // font: 400 25px/0.8 'Cookie', Helvetica, sans-serif;
  @extend %Raleway;
  @extend %warm-font;
  // text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
  font-size: 16px;
  text-align: center;
  padding: 40px 200px;
  @media(max-width: 498px) {
  	padding: 20px;
  }
}

div#second {
	background: image-url("images/home/flowers1.jpg") 50% 0 no-repeat fixed;
	background-color: black;
	color: white;
	height: 500px;
	padding: 0 0 0 20px;
	display: block;
	@media(max-width: 498px) {
		height: 200px;
		background: image-url("images/home/flowers-mini.jpg") 50% 0 no-repeat fixed;
		background-position: 60% 45px;
		height: 270px;
	}
}

div.float-right {
	padding: 10px 0 90px 0;
	position: relative;
	width: 330px;
	float: right;
	margin: 150px 20px 0px 0px;
	display: block;
	background: black;
	opacity: 0.5;
}

div.story div.footer {
	padding-top: 30px;
	div.footer-text {
		padding-top: 40px;
		p.footer {
			:first-child {
				padding-top: 30px;
			}
			@extend %warm-font;
			text-align: left;
			margin-left: -100px;
			font-size: 16px;
			@media(max-width: 498px) {
				margin-left: 90px;
			}
			a {
				@extend %warm-link-font;
				text-align: left;
				color: #DB70DB;
				font-size: 16px;
			}
		}
	}
}

div.footer img#sunglasses {
	border: 10px solid gray;
	margin-left: 300px;
	@media(max-width: 498px) {
		margin-left: 70px;
	}

}

div#third {
	background: image-url("images/home/water.jpg") 50% 0 no-repeat fixed;
	background-color: black;
	color: white;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 100%;
	display: block;
}

div#fouth {
	background-image: -ms-linear-gradient(bottom, #B5B5B5 0%, #000305 100%);
	background-image: -moz-linear-gradient(bottom, #B5B5B5 0%, #000305 100%);
	background-image: -o-linear-gradient(bottom, #B5B5B5 0%, #000305 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #B5B5B5), color-stop(1, #000305));
	background-image: -webkit-linear-gradient(bottom, #B5B5B5 0%, #000305 100%);
	background-image: linear-gradient(to top, #B5B5B5 0%, #000305 100%);
	color: white;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 100%;
	display: block;
}

div#fifth {
	background: image-url("images/home/pstrip2.jpg") 50% 0 no-repeat fixed;
	background-color: black;
	color: white;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 100%;
	display: block;
}
