.yoga_resume {
	h1 {
		@extend %warm-fatface;
	}
	h2 {
		@extend %warm-fatface;
	}
	p {
		font-size: 25px;
	}
	.yoga_row {
		margin-bottom: 20px;
		margin-top: 20px;
		height: 400px;
	}
	.yoga_info_row {
		padding: 10%;
		p {
			font-size: 15px;
			font-family: 'Raleway', sans-serif;
		}
		h3 {
			@extend %warm-fatface;
			font-size: 30px;
		}
	}
	.cert_info {
		background: image_url('../images/home/water.jpg');
	}
	.y_e1 {
		background: image_url('../images/home/purple-tree2.jpg');	
	}
}