.yoga_resume {
	.yoga_row {
		margin-bottom: 20px;
		margin-top: 20px;
		height: 400px;
	}
	.yoga_info_row {
		padding: 10%;
		p {
			font-size: 20px;
			font-family: 'Raleway', sans-serif;
		}
	}
	.cert_info {
		background: image_url('../images/home/water.jpg');
	}
	.y_e1 {
		background: image_url('../images/home/purple-tree2.jpg');	
	}
}