.yoga_resume {
	h1 {
		@extend %warm-fatface;
	}
	h2 {
		@extend %warm-fatface;
	}
	p {
		font-size: 25px;
	}
	.yoga_row {
		margin-bottom: 20px;
		margin-top: 20px;
		height: 400px;
	}
	.yoga_info_row {
		padding: 10%;
		text-align: center;
		p {
			@extend %Roboto;
			font-size: 15px;
		}
		h3 {
			@extend %Poiret;
			font-size: 50px;
		}
	}
	.cert_info {
		background: image_url('../images/home/water.jpg');
	}
	.y_e1 {
		background: image_url('../images/home/purple-tree2.jpg');	
	}
}