/* Example, to use put an = before the require file
 * require lightgallery/dist/css/lightgallery.css
 */



@import 'bootstrap';
@import 'header';
@import 'fonts';
@import 'footer';
@import 'fun_stuff';
@import 'homepage';
@import 'portfolio';
@import 'resume';
@import 'about';
@import 'contact';




//RESUME>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
div#portfolio-page {
	@extend %soft-warm-background;
	div.portfolio-body {
		background-color: white;
		margin: 0 100px;
		@media(max-width: 768px) {
			margin: 0 50px;
		}
		@media(max-width: 498px) {
			margin: 0;
		}
		h1#portfolio {
			// font-family: 'Berkshire Swash', cursive;
			// text-align: center;
			// color: blue;
			@extend %warm-fatface;
			font-size: 60px;
			margin: 30px 0;
		}
		h2#portfolio {
			@extend %Raleway;
			font-size: 18px;
			color: black;
			padding: 0;
		}
		h3#portfolio {
			@extend %Poiret;
			font-size: 50px;
			padding: 20px 0 40px 5px;
		}
		div.row.show-row {
			margin: 10px 0 60px 0;
			h4.portfolio {
				@extend %Roboto;
				font-size: 25px;
				padding: 5px 30px;
			}
			h5.portfolio {
				@extend %Raleway;
				font-size: 17px;
				padding: 0 5px 0 35px;
				a {
					@extend %warm-link-font;
					font-size: 16px;
				}
			}
			p {
				text-align: left;
				padding: 10px 40px;
				a {
					// font-family: 'Raleway', serif;
					@extend %warm-link-font;
					font-size: 16px;
					padding: -20px 40px;
				}
			}
			img {
				max-height: 400px;
			}
			ul.portfolio {
				text-align: left;
				li h5.portfolio a {
					@extend %warm-link-font;
					font-size: 14px;
				}
			}
		}
	}
}

// BLOG TAGS STYLING>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


h1.blog-title {
	@extend %warm-fatface;
}

h1.tagname {
	@extend %warm-fatface;
	font-size: 50px;
}


h2 {
	padding: 30px;
  	font: 400 50px/0.8 'Cookie', Helvetica, sans-serif;
  	color: #66CC00;
  	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
  	text-align: center;
}

li a {
	@extend %warm-link-font;
	font-size: 18px;
	margin: 20px;
}

p {
	text-align: center;
}

ul {
	text-align: center;
	list-style: none;
	li span {
		font-family: 'Abril Fatface', cursive;
		color: black;
		}
}









