@import 'bootstrap';
@import 'header';
@import 'fonts';
@import 'homepage';
@import 'portfolio';
@import 'resume';
@import 'about';
@import 'contact';






//BLOG_LIST PAGE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
h1.my-blog-list {
	@extend %warm-fatface;
	text-align: center;
	// background-image: -webkit-gradient(linear,
	// left top, left bottom,
	// from(#f3ece2),
	// to(#608341)
	// );
	// -webkit-background-clip: text;
	// -webkit-text-fill-color: transparent;
	margin-top: 30px;
	// font-family: 'Abril Fatface', cursive;
	font-size: 50px;
}

div#blog-page {
	// background: -o-linear-gradient(#f3ece2, lighten(#DB70DB, 10%), darken(#DB70DB, 20%)); /* For Opera 11.1 to 12.0 */
	// background: -moz-linear-gradient(#f3ece2, lighten(#DB70DB, 10%), darken(#DB70DB, 20%)); /* For Firefox 3.6 to 15 */
	// background: linear-gradient(#f3ece2, lighten(#DB70DB, 10%), darken(#DB70DB, 20%)); /* Standard syntax */
	@extend %purple-gradient;
	div.blog-page-body {
		background-color: white;
		margin: 0 100px;
		padding: 0 70px;
		@media(max-width: 498px) {
			margin: 0 20px;
			padding: 0 5px;
		}
		div.blog-box {
			// background: -o-linear-gradient(#f3ece2, #CFDBC5, #608341); /* For Opera 11.1 to 12.0 */
			// background: -moz-linear-gradient(#f3ece2, #CFDBC5, #608341); /* For Firefox 3.6 to 15 */
			// background: linear-gradient(#f3ece2, #CFDBC5, #608341); /* Standard syntax */
			margin: 0;
			// border: 1px solid black;
			padding: 50px 10px 0 10px;
			height: 350px;
			p {
				margin-top: -25px;
				@extend %Raleway;
				font-size: 14px;
			}
			h2.my-blog-list {
				margin-top: -40px;
				a {
					font: 400 40px/0.8 'Cookie', Helvetica, sans-serif;
	  				color: green;
	  				text-align: center;
	  				&:hover {
	  					color: black;
	  					text-decoration: none;
	  				}
				}
			}
		}
	}
}

//RESUME>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
div#portfolio-page {
	@extend %soft-warm-background;
	div.portfolio-body {
		background-color: white;
		margin: 0 100px;
		@media(max-width: 768px) {
			margin: 0 50px;
		}
		@media(max-width: 498px) {
			margin: 0;
		}
		h1#portfolio {
			// font-family: 'Berkshire Swash', cursive;
			// text-align: center;
			// color: blue;
			@extend %warm-fatface;
			font-size: 60px;
			margin: 30px 0;
		}
		h2#portfolio {
			@extend %Raleway;
			font-size: 18px;
			color: black;
			padding: 0;
		}
		h3#portfolio {
			@extend %Poiret;
			font-size: 50px;
			padding: 20px 0 40px 5px;
		}
		div.row.show-row {
			margin: 10px 0 60px 0;
			h4.portfolio {
				@extend %Roboto;
				font-size: 25px;
				padding: 5px 30px;
			}
			h5.portfolio {
				@extend %Raleway;
				font-size: 17px;
				padding: 0 5px 0 35px;
				a {
					@extend %warm-link-font;
					font-size: 16px;
				}
			}
			p {
				text-align: left;
				padding: 10px 40px;
				a {
					// font-family: 'Raleway', serif;
					@extend %warm-link-font;
					font-size: 16px;
					padding: -20px 40px;
				}
			}
			img {
				max-height: 400px;
			}
			ul.portfolio {
				text-align: left;
				li h5.portfolio a {
					@extend %warm-link-font;
					font-size: 14px;
				}
			}
		}
	}
}

// BLOG TAGS STYLING>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


h1.blog-title {
	@extend %warm-fatface;
}

h1.tagname {
	@extend %warm-fatface;
	font-size: 50px;
}


h2 {
	padding: 30px;
  	font: 400 50px/0.8 'Cookie', Helvetica, sans-serif;
  	color: #66CC00;
  	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
  	text-align: center;
}

li a {
	@extend %warm-link-font;
	font-size: 18px;
	margin: 20px;
}

p {
	text-align: center;
}

ul {
	text-align: center;
	list-style: none;
	li span {
		font-family: 'Abril Fatface', cursive;
		color: black;
		}
}









