---
title: San Francisco
date: 2014-05-19 18:41 UTC
tags: adventures
---

<div class="adventures">
	<div class="adventures-body">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
					<h1 class="adventures">San Francisco</h1>
			</div>
		</div>
		<div class="row"> 
			<div class="col-sm-12">
				<p class="adventures"> San Francisco is by far one of the most cities in the country. Everything from the parks to shopping to street art to people is fantastic. And of course, it is a large technology hub with just about everyone you meet being employed by a startup. My first night I was lucky enough to get a tour of the Github office, which is significantly impressive.</p> 
				<p class="adventures">In terms of restaurants - Garaje has the absolute best tacos. I recommend the Ahi Taco with Avocado and Aoli, because everything in California has avocado. Pig & Pies down in the Mission has the absolute best Poutine. Never having poutine before, I probably can't actually verify this fact, but it was delicious. In terms of drinks, The Alchemist was a little pricy, but made the prettiest drinks (see the gallery).</p>
			</div>
		</div>
		<div class="row image-row">
			<div class="col-sm-2 col-xs-4">
				<a href="/images/main/chris-me.jpg" class="cool-person-popup-link">
					<img class="thumbnail gallery img-responsive" src="/images/thumbnails/chris-me_thumbnail.jpg">
				</a>
			</div>
			<div class="col-sm-2 col-xs-4">
				<a href="/images/main/art.jpg" class="cool-person-popup-link">
					<img class="thumbnail gallery img-responsive" src="/images/thumbnails/art_thumb.jpg">
				</a>
			</div>
			<div class="col-sm-2 col-xs-4">
				<a href="/images/main/san-fran.jpg" class="cool-person-popup-link">
					<img class="thumbnail gallery img-responsive" src="/images/thumbnails/san-fran_thumb.jpg">
				</a>
			</div>
			<div class="col-sm-2 col-xs-4">
				<a href="/images/main/chris.jpg" class="cool-person-popup-link">
					<img class="thumbnail gallery img-responsive" src="/images/thumbnails/chris_thumb.jpg">
				</a>
			</div>
			<div class="col-sm-2 col-xs-4">
				<a href="/images/main/tahoe.jpg" class="cool-person-popup-link">
					<img class="thumbnail gallery img-responsive" src="/images/thumbnails/tahoe_thumb.jpg">
				</a>
			</div>
			<div class="col-sm-2 col-xs-4">
				<a href="/images/main/san-fran-arrow.jpg" class="cool-person-popup-linkcool-person-popup-link">
					<img class="thumbnail gallery img-responsive" src="/images/thumbnails/san-fran-arrow_thumb.jpg">
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p class="adventures">One of the highlights was walking along the Embarcadero along the water. The Mission was also an awesome place to visit, there is beautiful street are up everywhere and some great shops. Dolores Park was another great place to hang out, where we ended up joining a group of really interesting people celebrating a birthday. If you are ever in San Francisco, wondering where to explore, these are some of the best places to start.</p>
				<p class="adventures">We also took a journey to Tahoe but because of the draught this year, we decided not to attempt skiing. The weather was beautiful though and we took a trip to Lake Tahoe and then up to Carson City in Nevada. On the way back, we even got to take a tour of the Bunny Ranch, which is a little disarming if you aren't prepared for it. (And just for anyone with a dirty mind reading, seriously, we just took a tour of the building not the girls).</p>
			</div>
		</div>
		<div class="row image-row">
			<div class="col-sm-2 col-xs-4">
				<a href="/images/main/bay-bridge.jpg" class="cool-person-popup-link">
					<img class="thumbnail gallery img-responsive" src="/images/thumbnails/bay-bridge_thumb.jpg">
				</a>
			</div>
			<div class="col-sm-2 col-xs-4">
				<a href="/images/main/alchemist1.jpg" class="cool-person-popup-link">
					<img class="thumbnail gallery img-responsive" src="/images/thumbnails/alchemist1-thumb.jpg">
				</a>
			</div>
			<div class="col-sm-2 col-xs-4">
				<a href="/images/main/alchemist2.jpg" class="cool-person-popup-link">
					<img class="thumbnail gallery img-responsive" src="/images/thumbnails/alchemist2_thumb.jpg">
				</a>
			</div>
			<div class="col-sm-2 col-xs-4">
				<a href="/images/main/mission.jpg" class="cool-person-popup-link">
					<img class="thumbnail gallery img-responsive" src="/images/thumbnails/mission_thumb.jpg">
				</a>
			</div>
			<div class="col-sm-2 col-xs-4">
				<a href="/images/main/park.jpg" class="cool-person-popup-link">
					<img class="thumbnail gallery img-responsive" src="/images/thumbnails/park_thumb.jpg">
				</a>
			</div>
			<div class="col-sm-2 col-xs-4">
				<a href="/images/main/woods.jpg" class="cool-person-popup-link">
					<img class="thumbnail gallery img-responsive" src="/images/thumbnails/woods_thumb.jpg">
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<p>If you'd like to know more information about the jQuery Plugin I used for the lightbox effect, checkout my <%= link_to 'solutions blog', '/2014/05/20/magnific.html' %>.</p>
			</div>
		</div>
	</div>
</div>