---
title: Wendy Williams Show
date: 2014-05-20 13:47 UTC
tags: adventures 
---

<div class="adventures" id="transbkgd">
	<div class="adventures-body">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<h1 class="adventures">Wendy Williams Show</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p>So, yes I went to the Wendy Williams Show. But apparently me and my friend looked so well-dressed that we got placed in the front row and the camera showed us about every two seconds. So here is my fifteen minutes I suppose.</p>
				<p>Overall I really don't care about the Kardashian gossip that was being dicussed that day, but going with my one of my best friends and being in the front row definitely was a great experience. And boy, do they really get the crowd revved up. Every damn commercial break they played loud club music and had a guy come out with a microphone and demand that everyone get up and dance. Which was actually pretty awesome, too bad that guy doesn't get any camera time, he was kind of great and smelled delicious.</p>
				<p>Click on a thumbnail to see the gif of my debute.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-12">
				<a href="/images/gif/wendy-how-you.gif" class="cool-person-popup-link">
					<img class="thumbnail gallery img-responsive" src="/images/thumbnails/wendy-how_thumb.jpg" />
				</a>
			</div>
			<div class="col-md-3 col-sm-12">
				<a href="/images/gif/wendy-open.gif" class="cool-person-popup-link">
					<img class="thumbnail gallery img-responsive" src="/images/thumbnails/wendy-open_thumb.jpg" />
				</a>
			</div>
			<div class="col-md-3 col-sm-12">
				<a href="/images/gif/wendy-dancing.gif" class="cool-person-popup-link">
					<img class="thumbnail gallery img-responsive" src="/images/thumbnails/wendy-dance_thumb.jpg" />
				</a>
			</div>
			<div class="col-md-3 col-sm-12">
				<a href="/images/gif/Wendy-wedding.gif" class="cool-person-popup-link">
					<img class="thumbnail gallery img-responsive" src="/images/thumbnails/sarah_thumb.jpg" />
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p>The gifs above were made with LICEcap which is pretty much the easiest software to use. You put it over the video you want recorded, and then, here is the tricky part, press record. So I guess technically speaking this isn't the best demonstration of my capabilities, but I was on TV so shut up.</p>
				<p>I used the Magnific Lightbox Popup Plugin for displaying the gifs, which you can read about <%= link_to 'here', '/2014/05/20/magnific.html' %>.</p>
				<p>Or see more <%= link_to 'adventures', '/tags/adventures.html' %>!</p>
			</div>
		</div>
	</div>
</div>

