---
title: Twitter Bootstrap 3
date: 2014-05-20 17:38 UTC
tags: solutions, spree, learning
---

<div class="solutions-blog">
	<div class="row">
		<div class="col-md-12">
			<div class="solutions-body">
				<h1 class="solutions-blog">Twitter Bootstrap 3</h1>
				<p>Twitter Bootstrap is an awesome responsive framework that makes designing sites that are viewable on all screen sizes really simple. I have used Bootstrap in making several sites and am familiar with a lot of the tools available. I didn't include the html for each of the following code I implemented because it is well documented on the Bootstrap site.</p>
				<ul><h3>Things I learned/implemented with Bootstrap:</h3>
					<li><p>Grid framework: Once installed, Bootstrap has easy built in methods for creating rows, and columns. One key feature used in this is the ability to make these columns responsive. By using classes such as "col-md-4 col-sm-12" you can dictate the width of each item as it corresponds to the changing screen size.</p></li>
					<li><p>Hidden Items: Another greatly useful tool is the hidden/visible classes, which allows you to make certain items (divs, images, headers) visible only on certain screen sizes.</p></li>
					<li><p>Responsive Images: Add the class 'img-responsive' to your images and they magically resize as the window does.</p></li>
					<li><p>Glyphicons: Bootstrap built-in icons that are useful for menus.</p></li>
					<li><p>Buttons & Dropdown Buttons: Bootstrap comes with default buttons and are easy to implement with button classes. Dropdown Buttons are fairly simple to use as well and along with the hidden/visible classes accessible in Bootstrap, are a great way to take a large header menu and shrink it down to a simple dropdown menu on mobile or tablet versions of your site.</p></li>
					<li><p>Navbars: Responsive and easy to use to make search fields for your site.</p></li>
					<li><p>Breadcrumbs: Another useful tool for navigation, allows the viewer to see the heirarchy of pages based on where they are currently in the site.</p></li>
				</ul>
				<p>There are a lot of possiblities when you incorporate Bootstrap into your site, the above list is just a few of the things that I have utilized and was impressed by.</p>
				<h3><%= link_to 'Go Back to Solutions  ', '/tags/solutions.html' %></h3>
				<h3><%= link_to 'Go to Other Projects', 'tags/projects.html' %></h3>
			</div>
		</div>
	</div>
</div>
