---
title: Useful CSS/SCSS Tools
date: 2014-05-28 21:16 UTC
tags: design 
---

<div class="design">
	<div class="design-body">
		<div class="row">
			<h1>Useful CSS/SCSS Tools</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2><%= link_to 'A Line Apart: CSS Positioning 101', 'http://alistapart.com/article/css-positioning-101' %></h2>
				<p>A good article explaining the position property in CSS and correctly applying it to elements. It goes over the five possible position values: static, relative, absolute, inherit, fixed as well as normal flow and coordinate systems.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2><%= link_to 'SASS Basics', 'http://sass-lang.com/guide' %></h2>
				<p>Documentation on all of the perks of using SASS, mixins, variables, nesting, partials, and the syntax for creating them.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2><%= link_to 'Learn CSS Layout', 'http://learnlayout.com/' %></h2>
				<p>A guide to layout tools, it goes over the display property, box model, box-sizing, positioning, floating, clearfix with 'overflow: auto', media queries for responsive design, and creating text columns.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2><%= link_to 'SASS: Mixins vs. Placeholders', 'http://www.sitepoint.com/sass-mixin-placeholder/' %></h2>
				<p>An article going over the syntax for both and when are the best circumstances for using each.</p>
			</div>
		</div>
	</div>
</div>

