---
title: JQuery Plugins, Magnific Lightbox
date: 2014-05-20 04:39 UTC
tags: solutions, Javascript, JQUery, learning
---


<div class="solutions-blog">
	<div class="row">
		<div class="col-md-12">
			<div class="solutions-body">
				<h1 class="solutions-blog">Installing & Configuring a Responsive JQuery Lightbox</h1>
				<p>I wanted to be able to create a gallery of images, and have each image open up into a lightbox with a large version of the image in the view. There are a ton of great JQUery Plugins out there, and I chose the Magnific Plugin because it had a nice look and was easy to install.</p>
				<p>To find other plugins, you might already know where to look or you can check out my bookmarks page for references.</P>
				<p>In order to install this plugin, you first add the following to the layout of your document:</p>
<pre><%= h '
	<link rel="stylesheet" href="magnific-popup/magnific-popup.css"> 
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
	<script src="magnific-popup/jquery.magnific-popup.js"></script>' %>
</pre>
    			<p>Using the github link for Magnific Popup, I copied the repository address, went to my website directory in terminal and typed 'git clone (link)' command with the copied link address.</p>
    			<P>After that, I created thumbnail images for the larger images I was trying to display in the lightbox and created the markup inside my html page like so:</p>
<pre><%= h '
	<a href="/images/main/bay-bridge.jpg" class="cool-person-popup-link">
		<img class="thumbnail gallery img-responsive" src="/images/thumbnails/bay-bridge_thumb.jpg">
	</a>' %>
</pre>
				<p>The a tag will link the thumbnail to the main image and adding the 'cool-person-popup-link' class to this element, tells it how to open the lightbox and what the style of the lightbox should be.</p>
				<p>Then you require the js file for the popup and call the function inside of your javascript file:</p>
		<pre> 
		//= require jquery.magnific-popup.js
		
		$(document).ready(function() {
			$('.cool-person-popup-link').magnificPopup({ 
			  type: 'image'
			});
			   
		});
		</pre>
				<p>And now when you click on your thumbnails, you should get them opened into a pretty lightbox for all to see.</p>
								<%= link_to 'Back to Solutions', '/tags/solutions.html' %>
			</div>
		</div>
	</div>
</div>
