<div class="footer">
	<div class="row">
		<div class="col-sm-12">
	        <i class="fa fa-facebook-square"></i>
	        <i class="fa fa-instagram"></i>
	        <i class="fa fa-github-square"></i>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h5>Images owned by Jacquelyn Carver.</h5>
			<h5>&copy;Jacquelyn Carver 2016</h5>
		</div>
	</div>
</div>