<div class="footer">
	<div class="row">
		<div class="col-sm-12">
	        <a href='https://www.facebook.com/jacquelyn.carver'><i class="fa fa-facebook-square"></i></a>
	        <a href='https://www.instagram.com/jacqcar/'><i class="fa fa-instagram"></i></a>
	        <a href='https://github.com/agnikai'><i class="fa fa-github-square"></i></a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h5>Images owned by Jacquelyn Carver.</h5>
			<h5>&copy;Jacquelyn Carver 2016</h5>
		</div>
	</div>
</div>