<div id="about">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="about">About This Site</h1>
			<p class="about">This site was made using Middleman Blogging which sets up a framework for blogging sites and allows you to generate new blog articles and display them based on most recent, or order them by date and tag. Middleman makes the process of routing, generating static pages, creating dynamic urls, and asset pipelines easy. For styling, I used Twitter Bootstrap 3, which enables a whole world of easy stylistic changes possible just by adding class names to your elements. I used it for the grid system, the dropdown menu seen on the mobile version of my header, adding responsivity to images and text, and improving the overall general look of the site.</p>
			<p class="about">In reading about design, I have learned that website design is verys similar to the famous saying by Coco Chanel, "before leaving the house, a lady should look in the mirror and remove one accessory." Great UI/UX Design stems from the ability to make everything as simple as possible. Simplicity is key, cluttering the page only distracts from the content. Learnability is key - the client should be able to look at the site and be able to navigate it successfully with little to no time spent in interacting and examining it. All of these things being considered, I would like to stress the fact that well I learning these ideas, this site may not be the best example of such design insite. I myself am an overdecorated person, often feeling too ambitious and pulled in many directions. I used this site as a way to learn different methods of styling and building, and thus is it a large compilation of many different themes I have been learning how to implement.</p>
		</div>
	</div>
	<div class="row"> 
		<div class="col-sm-12">
			<h1 class="about">About Me, Jacquelyn</h1>
			<p>My experience has mainly been in frontend work with a lot of emphasis on HTML and CSS. I have been honing my skills as a designer and utilizing many tools such as Photoshop and Illustrator in order to increase my abilities. I am also very comfortable with git version control. I have studied Javascript and JQuery and I feel that I have a decent grasp of the language, but I would like to continue to advance. I have worked with Rails backend websites before and can navigate around them well. I am familiar with using partials, controllers, and models, but it is in this area that I hoping to grow the most.</p>
		</div>
	</div>
</div>




<!-- <div id="box">
	<div class="row"> 
		<div class="col-md-3 col-sm-6">
			<a href="/images/horse.jpg" class="flipLightBox">
				<img class="thumbnail img-responsive" src="/images/horse.jpg">
				<span>Reading Minds</span>
			</a>
		</div>
		<div class="col-md-3 col-sm-6">
			<a href="/images/beach.jpg" class="flipLightBox">
				<img class="thumbnail img-responsive" src="/images/beach.jpg">
				<span>Exploring Hawaii</span>
			</a>
		</div>
		<div class="col-md-3 col-sm-6">
			<a href="/images/hawaii-friends.jpg" class="flipLightBox">
				<img class="thumbnail img-responsive" src="/images/hawaii-friends.jpg">
				<span>Making great friends...</span>
			</a>
		</div>
		<div class="col-md-3 col-sm-6">
			<a href="/images/san-fran.jpg" class="flipLightBox">
				<img class="thumbnail img-responsive" src="/images/san-fran.jpg">
				<span>Advetnures in Dolores Park</span>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-6">
			<a href="/images/tahoe.jpg" class="flipLightBox img-responsive">
				<img class="thumbnail img-responsive" src="/images/tahoe.jpg">
				<span>Adventures in Tahoe</span>
			</a>
		</div>
		<div class="col-md-3 col-sm-6">
			<a href="/images/me.jpg" class="flipLightBox img-responsive">
				<img class="thumbnail img-responsive" src="images/me.jpg">
				<span>Train Station in Alexandria</span>
			</a>
		</div>
		<div class="col-md-3 col-sm-6">
			<a href="/images/bread3.jpg" class="flipLightBox img-responsive">
				<img class="thumbnail img-responsive" src="images/bread3.jpg">
				<span>Adventures in Baking</span>
			</a>
		</div>
		<div class="col-md-3 col-sm-6">
			<a href="/images/bread1.jpg" class="flipLightBox img-responsive">
				<img class="thumbnail img-responsive" src="images/bread1.jpg">
				<span>Adventures in Baking</span>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-6">
			<a href="/images/chris.jpg" class="flipLightBox img-responsive">
				<img class="thumbnail img-responsive" src="/images/chris.jpg">
				<span>Golden Gate Park</span>
			</a>
		</div>
		<div class="col-md-3 col-sm-6">
			<a href="/images/me.jpg" class="flipLightBox img-responsive">
				<img class="thumbnail img-responsive" src="images/me.jpg">
				<span>Dolores Park</span>
			</a>
		</div>
		<div class="col-md-3 col-sm-6">
			<a href="/images/bread3.jpg" class="flipLightBox img-responsive">
				<img class="thumbnail img-responsive" src="images/bread3.jpg">
				<span>Adventures in Music</span>
			</a>
		</div>
		<div class="col-md-3 col-sm-6">
			<a href="/images/art.jpg" class="flipLightBox img-responsive">
				<img class="thumbnail img-responsive" src="images/art.jpg">
				<span>Street Art of San Fransisco</span>
			</a>
		</div>
	</dwater<div class="row">
		<div class="col-md-3 col-sm-6">
			<a href="/images/water.jpg" class="flipLightBox img-responsive">
				<img class="thumbnail img-responsive" src="/images/water.jpg">
				<span>Beautiful Virgina</span>
			</a>
		</div>
		<div class="col-md-3 col-sm-6">
			<a href="/images/hawaii.jpg" class="flipLightBox img-responsive">
				<img class="thumbnail img-responsive" src="images/hawaii.jpg">
				<span>Bubbles</span>
			</a>
		</div>
		<div class="col-md-3 col-sm-6">
			<a href="/images/cork.jpg" class="flipLightBox img-responsive">
				<img class="thumbnail img-responsive" src="images/cork.jpg">
				<span>Adventures in Collecting</span>
			</a>
		</div>
		<div class="col-md-3 col-sm-6">
			<a href="/images/bread1.jpg" class="flipLightBox img-responsive">
				<img class="thumbnail img-responsive" src="images/bread1.jpg">
				<span>Adventures in Baking</span>
			</a>
		</div>
	</div>
</div>


 -->