<div id="resume-page">
	<div class="row text-center">
		<div class="col-md-12">
			
			
	 	</div>
 	</div>

 	<div class="row">
 		<div class="col-md-6 col-sm-12">
 			<ul><h3>EXPERIENCE:</h3>
 				<li>
 					<h4>MFRW Design</h4>
 					<h5>Junior Developer and Project Manager 09/13 – Present</h5>
 					<p>Collaborated on development of several mobile first responsive web sites, Managed Accounts Receivable and Accounts Payable, provided customer service, improving client relationships and organized projects and prioritized tasks using Trello.</p>
 				</li>
 				<li>
 					<h4>Self Study</h4>
 					<h5>Programmer/Developer Learning and Preparation 06/13 – Present</h5>
 					<p>Books: HTML5 for Web Designers; CSS3 for Web Designers; Responsive Web Design; Mobile First; and The CSS Pocket Guide; Courses: Treehouse Intro to HTML, Intro to CSS, Building Simple Web Apps, Javascript Foundations, Ruby Foundations, Building Apps With Rails; Documentation: Ruby, Ruby on Rails, Spree Commerce, Bootstrap 3, Middleman, Sinatra, Devise, DataMapper</p>
 				</li>
 				<li>
 					<h4>Mark Gallery</h4>
 					<h5>Gallery Assistant/Office Manager 01/14 - Present</h5>
 					<p>Managing Gallery Facebook page, with news and art updates. Manage gallery wordpress site, and create blog articles relating to upcoming events and popular artists. Work with Photoshop and In Design for website promotions and booklets for upcoming art shows and openings.</p>
 				</li>
 				<li>
 					<h4>The Curious Grape 10/12 – 04/13</h4>
 					<h5>Private Events Production Assistant</h5>
 					<p>Planned, executed, and hosted private events and wine tastings; Procured materials and established a sophisticated atmosphere for all events; Utilized social media to promote events and generate excitement; Dealt with clients in order to provide a unique theme and budget for each event.</p>
 				</li>
 			</ul>
 		</div>

 		<div class="col-md-6 col-sm-12">
 			<ul>
 				<li><h3>EDUCATION:</h3>
 					<h4>University of Hawaii at Manoa, Honolulu, Hawaii</h4>
 					<p>Major: Psychology, Attended September 2007 – May 2009</p>
 				</li>
 				<li><h3>SKILLS:</h3>
 					<h4>Languages: Proficient: CSS3, HTML5, SASS/SCSS</h4>
 					<h4>Familiar:  JavaScript, Ruby</h4>
 					<h4>Tools: Bootstrap 3, Compass, Git/GitHub, jQuery, Middleman</h4>
 				</li>
 				<li><h3>INTERESTS:</h3>
					<h4>Drawing & Painting</h4>
					<h4>Photography & Photo Editing</h4>
					<h4>Cooking & Baking</h4>
				</li>
 		</div>
	</div>
</div> 