<div id="mygallerys">

	<%= partial(:header) %>

	<div class="row">
		<div class="col-sm-12">
			<h1>All the other things in between...</h1>
			<h3>Additional interests and small watchyamacallits.</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h1>Yoga</h1>
			<h2><i class="fa fa-heart"></i>Aerial, Acro, &amp; Mat<i class="fa fa-heart"></i></h2>
		</div>
	</div>

	<div class="yoga-gallery my-gallery-row">
		<div id="lightgallery">
		  	<a href="../images/home/mar_yoga1.jpg">
		      <img src="../images/home/mar_yoga1.jpg" />
		  	</a>
		  	<a href="../images/home/mar_yoga2.jpg">
		      <img src="../images/home/mar_yoga2.jpg" />
		  	</a>
		  	<a href="../images/home/mar_yoga3.jpg">
		    	<img src="../images/home/mar_yoga3.jpg" />
		  	</a>
		  	<a href='../images/home/beach_headstand.jpg'>
		  		<img src="../images/home/beach_headstand.jpg"/>
			</a>
			<a href='../images/home/aerial_backyard.jpg'>
				<img src="../images/home/aerial_backyard.jpg"/>
			</a>
			<a href='../images/home/sukha_namaste.jpg'>
				<img src="../images/home/sukha_namaste.jpg"/>
			</a>
			<a href='../images/home/three_downdog.jpg'>
				<img src="../images/home/three_downdog.jpg"/>
			</a>
			<a href='../images/home/camel.jpg'>
				<img src="../images/home/camel.jpg"/>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h1>Collection of Randoms</h1>
			<h2><i class="fa fa-heart"></i>Fun with Photography &amp; Editing<i class="fa fa-heart"></i></h2>
		</div>
	</div>

	<div class="edit-gallery my-gallery-row">
		<div id="edit-lightgallery">
		  	<a href="../images/main/bread1.jpg">
		      <img src="../images/main/bread1.jpg" />
		  	</a>
		  	<a href='../images/main/bread3.jpg'>
		  		<img src="../images/main/bread3.jpg"/>
			</a>
			<a href='../images/main/chris1.jpg'>
				<img src="../images/main/chris1.jpg"/>
			</a>
			<a href='../images/main/chris.jpg'>
				<img src="../images/main/chris.jpg"/>
			</a>
			<a href='../images/main/san-fran.jpg'>
				<img src="../images/main/san-fran.jpg"/>
			</a>
			<a href='../images/main/tahoe.jpg'>
				<img src="../images/main/tahoe.jpg"/>
			</a>

		</div>
	</div>

</div>
