<div id="solutions">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="solutions">Solutions to Programming Problems</h1>
			<p>The process of finding out where the problem is and how to fix it can be extremely difficult, but I've managed to find a couple of tricks that help when I am in a pickle.</p>
		</div>
	</div>
	<div class="row"> 
		<div class="col-sm-12">
		</div>
	</div>
</div>