<div id="portfolio-page">
  <div class="portfolio-body">
    <div class="row">
      <div class="col-md-12">
        <h1 id="portfolio">Jacquelyn Carver</h1>
        <h2 id="portfolio">jacquelyn905@gmail.com</h2>
      </div>
    </div>
    <div class="row show-row">
      <div class="col-md-6 col-xs-12">
        <h4 class="portfolio">Mark Gallery</h4>
        <h5 class="portfolio">Modern Art Gallery</h5>
        <p class="portfolio">An art gallery located in Englewood, New Jersey, this is a part-time postion where I am fortunate enough to home my design skills using Photoshop and In Design. I also will post blogs highlighting different artists or events for the gallery's site.</p>
        <p><%= link_to 'Mark Gallery', 'http://mark-gallery.com/' %></p>
        <p><%= link_to 'Gallery Blog', 'https://markgallery.wordpress.com/2014/06/10/arthamptons-july-2014/' %></p>
      </div>
      <div class="col-md-6 col-xs-12">
        <img class="portfolio img-responsive" src="/images/main/markgallery-home.jpg" />
      </div>
    </div>
    <div class="row show-row">
      <div class="col-md-6 col-xs-12">
        <img class="portfolio img-responsive" src="/images/home/chaos_blog.png" />
      </div>
       <div class="col-md-6 col-xs-12">
          <h4 class="portfolio">Chaos Cat</h4>
          <h5 class="portfolio">A Blog</h5>
          <p class="portfolio">This site was also built with Middleman, using the blog extension. I built this with a dual purpose in mind, the first being to demonstrate my design and programming capabilities, and the second to serve as an example of my writing.</p>
        </div>
    </div>
  </div>
  
  <%= partial(:footer) %>

</div>