<div class="yoga_resume">

	<%= partial(:header) %>

	<div class="row cert">
		<div class="col-sm-12">
			<h1>Yoga</h1>
		</div>
	</div>
	<div class="row cert_info yoga_row">
		<div class="col-sm-12">
			<h2>Certification</h2>
		</div>
	</div>
	<div class="row yoga_info_row">
		<div class="col-sm-12">
			<p>I recieved my 200hr certification in Hatha Yoga from Yoga Mountain at Sukha Arts Center in Harrington Park, New Jersey on February 28th. To get this certification completed was a six month process including: three months of classroom training, a comprehensive reading list on chakras, history, philosophy, anatomy, and meditation, in the field aerial and mat yoga student teaching, alignment and sequencing training, and thirty hours of electives in which I attended class with various teachers.</p>
		</div>
	</div>
	<div class="yoga_experience">
		<div class="row y_e1 yoga_row">
			<div class="col-sm-12">
				<h2>Experience</h2>
			</div>
		</div>
		<div class="row yoga_info_row">
			<div class="col-sm-6">
				<h3>Sukha Arts Center</h3>
				<p>An amazing studio owned by an inspiring friend of mine, Sukha is not only where I have taken many yoga classes, it's also the place where I was introduced to Aerial Arts, and where I recieved my 200 hour certification. And, of course, is where I teach mat yoga, aerial yoga, and aerial dance classes.</p>
			</div>
			<div class="col-sm-6">
				<img src="../images/home/sukha_namaste.jpg" class="img-responsive"/>
			</div>
		</div>
		<div class="row yoga_info_row">
			<div class="col-sm-6">
				<img src="../images/home/mar_yoga1.jpg" class="img-responsive"/>
			</div>
			<div class="col-sm-6">
				<h3>Lexington Center</h3>
				<p>An outpatient program for recovering adults, this is where I began teaching as a student and continued on to become an employee as a regular yoga teacher.</p>
			</div>
		</div>
		<div class="row yoga_info_row">
			<div class="col-sm-6">
				<h3>Private Lessons</h3>
				<p>In addition to teaching classes with mulitple students in public studios, I have also had the opportunity to work closely with one student who, due to scheduling or confidence, are unable to practice with a group. Practicing one-on-one gives me a chance to really focus on individual goals and needs and gain a deep understanding of yoga's ability to help heal and grow.</p>
			</div>
			<div class="col-sm-6">
				<img src="../images/home/inverted_eagle.jpg" class="img-responsive"/>
			</div>
		</div>
	</div>

	<div id="fun_yoga_stuff">
		<div class="row">
			<div class="col-sm-2 col-xs-12">
				<img src="../images/home/mar_yoga1.jpg" class="img-responsive"/>
			</div>
			<div class="col-sm-2 col-xs-12">
				<img src="../images/home/mar_yoga2.jpg" class="img-responsive"/>
			</div>
			<div class="col-sm-2 col-xs-12">
				<img src="../images/home/mar_yoga3.jpg" class="img-responsive"/>
			</div>
			<div class="col-sm-2 col-xs-12">
			</div>
			<div class="col-sm-2 col-xs-12">
			</div>
			<div class="col-sm-2 col-xs-12">
			</div>
		</div>
	</div>

	<%= partial(:footer) %>

</div> <!-- yoga_resume -->